body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* H1: page title */
h1 {
    text-align: center;
    border-bottom: none;
}

/* H2: Section title */
h2 {
    border-bottom: thin solid black;
}

img {
    max-width: 100%;
}

figcaption {
    display: none;
}
